Repository ExchangeUnion/xud, pull requests merged in 2018-12, with the labels that each got.

#717 fix(rpc): close streaming calls on shutdown
  lib/grpc/GrpcServer.ts
  lib/grpc/GrpcService.ts
Labels: bug, grpc, in progress

#695 feat(p2p): reconnect to peer after disconnection
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  test/integration/Pool.spec.ts
  test/p2p/sanity.spec.ts
Labels: in progress, p2p

#663 refactor(orderbook): reuse executeSwap code
  lib/orderbook/OrderBook.ts
  lib/service/Service.ts
Labels: code quality, in progress, order book

#720 feat: graceful shutdown on SIGINT
  lib/Xud.ts
Labels: in progress

#657 Publish existing orders on subscribeAddedOrders
  docs/api.md
  lib/cli/commands/subscribeorders.ts
  lib/grpc/GrpcService.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  proto/xudrpc.proto
Labels: in progress

#710 feat(orderbook/swaps): accept partial swaps
  lib/orderbook/OrderBook.ts
Labels: in progress, order book, swaps

#736 feat: grpc server logging
  lib/grpc/GrpcServer.ts
  lib/grpc/serverProxy.ts
Labels: in progress

#743 fix(swap): allow one extrac block to be created during swap
  lib/swaps/Swaps.ts
Labels: in progress

#715 feat(rpc/orderbook): handle remove order with hold
  docs/api.md
  lib/grpc/GrpcService.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/TradingPair.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  proto/xudrpc.proto
  test/integration/Service.spec.ts
Labels: grpc, in progress, order book

#718 fix(p2p): terminate inbound peers on shutdown
  lib/p2p/Pool.ts
Labels: bug, in progress, p2p

#744 fix(cli): use correct args for executeswap
  lib/cli/commands/executeswap.ts
Labels: bug, command line (CLI), in progress

#712 feat(p2p): protobuf serialization/validation
  lib/p2p/NodeList.ts
  lib/p2p/Parser.ts
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  lib/p2p/packets/Packet.ts
  lib/p2p/packets/PacketType.ts
  lib/p2p/packets/types/DisconnectingPacket.ts
  lib/p2p/packets/types/GetNodesPacket.ts
  lib/p2p/packets/types/GetOrdersPacket.ts
  lib/p2p/packets/types/HelloPacket.ts
  lib/p2p/packets/types/NodesPacket.ts
  lib/p2p/packets/types/OrderInvalidationPacket.ts
  lib/p2p/packets/types/OrderPacket.ts
  lib/p2p/packets/types/OrdersPacket.ts
  lib/p2p/packets/types/PingPacket.ts
  lib/p2p/packets/types/PongPacket.ts
  lib/p2p/packets/types/SwapAcceptedPacket.ts
  lib/p2p/packets/types/SwapCompletePacket.ts
  lib/p2p/packets/types/SwapFailedPacket.ts
  lib/p2p/packets/types/SwapRequestPacket.ts
  lib/proto/xudp2p_pb.d.ts
  lib/proto/xudp2p_pb.js
  lib/swaps/Swaps.ts
  lib/types/enums.ts
  lib/utils/utils.ts
  package.json
  proto/xudp2p.proto
  test/unit/Parser.spec.ts
Labels: in progress

#747 fix(proto): use 64 bit chan_id ints as strings
  lib/proto/annotations_pb.d.ts
  lib/proto/google/api/http_pb.d.ts
  lib/proto/google/protobuf/descriptor_pb.d.ts
  lib/proto/hash_resolver_pb.d.ts
  lib/proto/lndrpc_pb.d.ts
  lib/proto/lndrpc_pb.js
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  package-lock.json
  package.json
  proto/lndrpc.proto
Labels: bug, grpc, in progress

#751 feat(p2p): verify data integrity
  lib/p2p/Parser.ts
  lib/p2p/packets/Packet.ts
  lib/p2p/packets/types/DisconnectingPacket.ts
  package-lock.json
  package.json
Labels: in progress

#731 refactor: fix ban functionality
  lib/p2p/NodeList.ts
  lib/p2p/Pool.ts
  lib/service/Service.ts
Labels: in progress

#753 feat(swaps): comprehensive SwapFailureReason
  lib/swaps/Swaps.ts
  lib/swaps/types.ts
  lib/types/enums.ts
Labels: error handling, in progress, swaps

#760 refactor(p2p): use every() to validate packets
  lib/p2p/packets/types/HelloPacket.ts
  lib/p2p/packets/types/NodesPacket.ts
  lib/p2p/packets/types/OrdersPacket.ts
Labels: code quality, in progress, p2p

#759 Fix peer stalling
  lib/orderbook/OrderBook.ts
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  lib/p2p/packets/Packet.ts
  test/integration/Pool.spec.ts
  test/p2p/sanity.spec.ts
Labels: bug, in progress, logging, p2p

#754 feat(rpc): remove peerpubkey from executeswap
  docs/api.md
  lib/cli/commands/executeswap.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/TradingPair.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  proto/xudrpc.proto
Labels: grpc, in progress

#716 feat(p2p/orderbook): drop orders for dropped pairs
  lib/orderbook/OrderBook.ts
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  test/integration/Pool.spec.ts
Labels: in progress, order book, p2p

#752 chore: generate type declarations
  lib/db/DB.ts
  lib/orderbook/OrderBook.ts
  lib/p2p/P2PRepository.ts
  tsconfig.json
Labels: build, in progress

#768 fix(orderbook): use pairs keys iterable
  lib/orderbook/OrderBook.ts
Labels: bug, in progress

#769 fix(p2p): hash order invalidations correctly
  lib/p2p/Pool.ts
  lib/p2p/packets/types/OrderInvalidationPacket.ts
Labels: bug, in progress, p2p

#763 feat: added test for ban/unban functionality
  test/integration/Pool.spec.ts
Labels: in progress

#709 refactor: change getOrders to ListOrders
  docs/api.md
  lib/cli/commands/listorders.ts
  lib/grpc/GrpcServer.ts
  lib/grpc/GrpcService.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.d.ts
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  proto/xudrpc.proto
  test/integration/Service.spec.ts
  test/unit/Command.spec.ts
Labels: in progress

#774 fix(p2p): order invalidation packet
  lib/p2p/NodeList.ts
  lib/p2p/Peer.ts
  lib/p2p/packets/types/OrderInvalidationPacket.ts
  lib/types/enums.ts
  test/unit/Parser.spec.ts
Labels: in progress

#773 Swap failureReason field for SwapDeal db model and SwapFailedPacket
  lib/db/models/SwapDeal.ts
  lib/orderbook/OrderBook.ts
  lib/p2p/packets/types/SwapCompletePacket.ts
  lib/p2p/packets/types/SwapFailedPacket.ts
  lib/proto/xudp2p_pb.d.ts
  lib/proto/xudp2p_pb.js
  lib/swaps/Swaps.ts
  lib/swaps/types.ts
  lib/types/enums.ts
  proto/xudp2p.proto
  test/integration/Swap.spec.ts
  test/unit/Parser.spec.ts
Labels: breaking, database, in progress, p2p, swaps

#776 fix(orderbook): persist trade before remove order
  lib/orderbook/OrderBook.ts
Labels: bug, in progress, order book
