Repository ExchangeUnion/xud, pull requests merged in 2019-03, with the labels that each got.

#813 fix(p2p): toggle opened after handshake
  lib/p2p/Peer.ts
Labels: in progress, p2p

#819 chore: update extend dependency
  package-lock.json
Labels: build, in progress, security

#818 refactor: conditionally log init connections
  lib/p2p/Pool.ts
Labels: in progress, logging

#805 fix(p2p): handle multiple peer reputation events
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
Labels: bug, in progress, p2p

#821 fix(packets): correct order packet validation
  lib/p2p/packets/types/OrderInvalidationPacket.ts
  lib/p2p/packets/types/OrderPacket.ts
Labels: p2p

#824 perf(p2p): use async randomBytes for packet framer
  lib/orderbook/OrderBook.ts
  lib/p2p/Framer.ts
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  lib/swaps/Swaps.ts
  test/integration/Swap.spec.ts
  test/p2p/sanity.spec.ts
  test/unit/Parser.spec.ts
Labels: in progress, p2p, performance

#808 refactor: use generic lnd swap clients
  bin/xud
  docs/api.md
  lib/Config.ts
  lib/Xud.ts
  lib/grpc/GrpcService.ts
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  lib/p2p/packets/types/NodeStateUpdatePacket.ts
  lib/p2p/packets/types/SessionInitPacket.ts
  lib/p2p/types.ts
  lib/proto/xudp2p_grpc_pb.js
  lib/proto/xudp2p_pb.d.ts
  lib/proto/xudp2p_pb.js
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/swaps/Swaps.ts
  lib/utils/utils.ts
  proto/xudp2p.proto
  proto/xudrpc.proto
  test/integration/Pool.spec.ts
  test/integration/Service.spec.ts
  test/integration/Swap.spec.ts
  test/integration/WebProxy.spec.ts
  test/p2p/sanity.spec.ts
  test/unit/Parser.spec.ts
Labels: breaking, code quality, in progress, lightning

#836 fix(p2p): fix connection timeout unhandled error
  lib/p2p/Peer.ts
Labels: bug, in progress, p2p

#837 fix(p2p): peer error logging
  lib/p2p/Pool.ts
Labels: bug, in progress, logging, p2p

#816 feat(rpc): add failureReason to SwapFailure msg
  docs/api.md
  lib/cli/utils.ts
  lib/constants/enums.ts
  lib/grpc/GrpcService.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/types.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/swaps/Swaps.ts
  lib/swaps/types.ts
  proto/xudrpc.proto
  test/integration/Swaps.spec.ts
  test/unit/Swaps.spec.ts
Labels: error handling, grpc, in progress, swaps

#838 chore: downgrade grpc-tools to 1.6.0
  lib/proto/annotations_pb.js
  lib/proto/google/api/http_pb.js
  lib/proto/google/protobuf/descriptor_pb.js
  lib/proto/hash_resolver_grpc_pb.js
  lib/proto/hash_resolver_pb.js
  lib/proto/lndrpc_grpc_pb.js
  lib/proto/lndrpc_pb.js
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.js
  package-lock.json
  package.json
Labels: bug, build, in progress

#842 fix(proto): set price as double
  docs/api.md
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.js
  proto/xudrpc.proto
Labels: bug, grpc, in progress

#828 feat(raiden): add minimum viable RaidenClient REST API integration
  lib/BaseClient.ts
  lib/lndclient/LndClient.ts
  lib/raidenclient/RaidenClient.ts
  lib/service/Service.ts
Labels: in progress, raiden

#843 Deprecation fix
  lib/proto/annotations_grpc_pb.js
  lib/proto/hash_resolver_grpc_pb.js
  lib/proto/lndrpc_grpc_pb.js
  lib/proto/xudp2p_grpc_pb.js
  lib/proto/xudrpc_grpc_pb.js
  package.json
  winFixDeprecation.ps1
Labels: build, in progress

#845 fix(p2p): open peer before sending session ack
  lib/grpc/GrpcService.ts
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  lib/p2p/errors.ts
  test/integration/Pool.spec.ts
  test/p2p/sanity.spec.ts
Labels: bug, code quality, in progress, p2p

#844 fix(raiden): cleanup reconnectTimer on shutdown
  lib/BaseClient.ts
  lib/Xud.ts
  lib/lndclient/LndClient.ts
  lib/raidenclient/RaidenClient.ts
Labels: bug, in progress, raiden

#851 refactor(swaps): remove lnd references from swaps
  lib/BaseClient.ts
  lib/Xud.ts
  lib/lndclient/LndClient.ts
  lib/orderbook/OrderBook.ts
  lib/raidenclient/RaidenClient.ts
  lib/swaps/Swaps.ts
  lib/swaps/types.ts
  test/integration/Swaps.spec.ts
Labels: code quality, in progress, raiden, swaps

#849 fix(p2p): prevent writing to closed socket
  lib/p2p/Peer.ts
Labels: error handling, in progress, p2p

#850 feat(client): add maximum capacity checks to client
  lib/BaseClient.ts
Labels: in progress
