Repository ExchangeUnion/xud, pull requests merged in 2019-01, with the labels that each got.

#772 Version Compatibility Check #154
  lib/p2p/Peer.ts
  lib/p2p/errors.ts
  lib/types/enums.ts
  package-lock.json
  package.json
  test/unit/Semver.spec.ts
Labels: in progress

#782 fix(swaps): ignore swap failed for inactive swaps
  lib/swaps/Swaps.ts
Labels: error handling, in progress, swaps

#783 feat: parse uri without port
  lib/service/Service.ts
  lib/utils/uriUtils.ts
  lib/utils/utils.ts
  test/p2p/sanity.spec.ts
  test/unit/NodeKey.spec.ts
  test/unit/uriUtils.spec.ts
Labels: automated tests, grpc, in progress

#785 fix(rpc): subscribeorders http endpoints
  lib/proto/xudrpc.swagger.json
  proto/xudrpc.proto
Labels: grpc, in progress

#786 feat(swaps): timeout stalled swaps
  lib/swaps/Swaps.ts
  lib/swaps/types.ts
  lib/types/enums.ts
Labels: error handling, in progress, swaps

#787 feat(rpc): failed swaps for PlaceOrder
  docs/api.md
  lib/cli/commands/streamorders.ts
  lib/cli/utils.ts
  lib/grpc/GrpcService.ts
  lib/orderbook/OrderBook.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/types/orderBook.ts
  proto/xudrpc.proto
Labels: command line (CLI), grpc, in progress

#756 feat(p2p): encryption & authentication
  lib/Config.ts
  lib/Xud.ts
  lib/nodekey/NodeKey.ts
  lib/orderbook/OrderBook.ts
  lib/p2p/Framer.ts
  lib/p2p/Network.ts
  lib/p2p/NodeList.ts
  lib/p2p/Parser.ts
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  lib/p2p/errors.ts
  lib/p2p/packets/Packet.ts
  lib/p2p/packets/PacketType.ts
  lib/p2p/packets/types/DisconnectingPacket.ts
  lib/p2p/packets/types/GetNodesPacket.ts
  lib/p2p/packets/types/GetOrdersPacket.ts
  lib/p2p/packets/types/HelloPacket.ts
  lib/p2p/packets/types/NodeStateUpdatePacket.ts
  lib/p2p/packets/types/NodesPacket.ts
  lib/p2p/packets/types/OrderInvalidationPacket.ts
  lib/p2p/packets/types/OrderPacket.ts
  lib/p2p/packets/types/OrdersPacket.ts
  lib/p2p/packets/types/PingPacket.ts
  lib/p2p/packets/types/PongPacket.ts
  lib/p2p/packets/types/SessionAckPacket.ts
  lib/p2p/packets/types/SessionInitPacket.ts
  lib/p2p/packets/types/SwapAcceptedPacket.ts
  lib/p2p/packets/types/SwapCompletePacket.ts
  lib/p2p/packets/types/SwapFailedPacket.ts
  lib/p2p/packets/types/SwapRequestPacket.ts
  lib/p2p/packets/types/index.ts
  lib/proto/xudp2p_pb.d.ts
  lib/proto/xudp2p_pb.js
  lib/proto/xudrpc.swagger.json
  lib/service/Service.ts
  lib/types/enums.ts
  lib/types/p2p.ts
  package.json
  proto/xudp2p.proto
  test/crypto/handshake.ts
  test/integration/Pool.spec.ts
  test/p2p/sanity.spec.ts
  test/unit/Parser.spec.ts
Labels: in progress, p2p, security
