Repository ExchangeUnion/xud, pull requests merged in 2019-10, with the labels that each got.

#1260 fix: reconnect log message
  lib/p2p/Peer.ts
Labels: logging

#1248 feat(cli): wait for client on create/unlock
  lib/cli/command.ts
  lib/cli/commands/buy.ts
  lib/cli/commands/create.ts
  lib/cli/commands/orders/buy.ts
  lib/cli/commands/orders/sell.ts
  lib/cli/commands/sell.ts
  lib/cli/commands/unlock.ts
  lib/cli/placeorder.ts
  lib/cli/utils.ts
Labels: command line (CLI)

#1262 feat(swaps): raiden claims recovered swap payments
  lib/swaps/SwapRecovery.ts
  lib/swaps/Swaps.ts
Labels: raiden, security, swaps

#1259 feat: wait for lnd on create call
  lib/grpc/GrpcInitService.ts
  lib/grpc/GrpcServer.ts
  lib/grpc/GrpcService.ts
  lib/grpc/getGrpcError.ts
  lib/lndclient/LndClient.ts
  lib/lndclient/errors.ts
  lib/orderbook/OrderBook.ts
  lib/raidenclient/RaidenClient.ts
  lib/service/InitService.ts
  lib/service/Service.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/Swaps.ts
  lib/swaps/errors.ts
  test/unit/HttpServer.spec.ts
Labels: error handling, grpc, lightning

#926 feat(cli): enhance listpeers output
  lib/cli/commands/listpeers.ts
  lib/cli/utils.ts
Labels: command line (CLI), enhancement

#1268 chore: don't lint temp code for simulation tests
  tslint-alt.json
Labels: build

#1271 fix: don't allow new connections while pool closes
  lib/p2p/Pool.ts
Labels: bug, p2p

#1273 chore(release): 1.0.0-mainnet
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
  sample-xud.conf
Labels: build

#1270 chore: run sim tests on version
  package.json
Labels: build

#1269 test: replace deprecated Model.find() calls
  test/integration/Pool.spec.ts
Labels: automated tests

#1272 feat(p2p): log disconnection packet reason enum
  lib/p2p/Peer.ts
Labels: logging, p2p

#1292 chore: move .tsbuildinfo to dist folder
  .gitignore
  package.json
  tsconfig.json
Labels: build

#1197 feat(rpc): GetBalance enhancements
  docs/api.md
  lib/cli/commands/getbalance.ts
  lib/grpc/GrpcService.ts
  lib/lndclient/LndClient.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/raidenclient/RaidenClient.ts
  lib/service/Service.ts
  lib/swaps/SwapClient.ts
  proto/xudrpc.proto
Labels: enhancement, grpc

#1291 add additional Pool tests
  test/jest/Pool.spec.ts
Labels: automated tests, p2p

#1299 fix(p2p): remove error event from Peer
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
Labels: bug, p2p

#1294 fix: show LND info while it is out of sync
  lib/lndclient/LndClient.ts
  lib/swaps/SwapClient.ts
Labels: command line (CLI), lightning

#1289 chore: update NPM dependencies
  docs/api.md
  lib/Config.ts
  lib/cli/command.ts
  lib/cli/commands/addcurrency.ts
  lib/cli/commands/addpair.ts
  lib/cli/commands/ban.ts
  lib/cli/commands/connect.ts
  lib/cli/commands/create.ts
  lib/cli/commands/discovernodes.ts
  lib/cli/commands/executeswap.ts
  lib/cli/commands/getbalance.ts
  lib/cli/commands/getnodeinfo.ts
  lib/cli/commands/listorders.ts
  lib/cli/commands/listtrades.ts
  lib/cli/commands/openchannel.ts
  lib/cli/commands/orderbook.ts
  lib/cli/commands/removecurrency.ts
  lib/cli/commands/removeorder.ts
  lib/cli/commands/removepair.ts
  lib/cli/commands/streamorders.ts
  lib/cli/commands/unban.ts
  lib/cli/placeorder.ts
  lib/p2p/Framer.ts
  lib/p2p/packets/Packet.ts
  lib/proto/annotations_grpc_pb.js
  lib/proto/annotations_pb.js
  lib/proto/google/api/http_pb.js
  lib/proto/google/protobuf/descriptor_pb.js
  lib/proto/lndinvoices_pb.js
  lib/proto/lndrpc_pb.js
  lib/proto/xudp2p_pb.js
  lib/proto/xudrpc_pb.js
  npm-shrinkwrap.json
  package.json
Labels: build

#1295 feat(rpc): create error if clients misconfigured
  lib/Xud.ts
  lib/grpc/getGrpcError.ts
  lib/lndclient/LndClient.ts
  lib/service/InitService.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/errors.ts
  test/jest/SwapClientManager.spec.ts
Labels: grpc, lightning

#1302 feat(rpc): notify when xud is starting
  lib/Xud.ts
  lib/cli/command.ts
  lib/grpc/GrpcInitService.ts
  lib/grpc/GrpcServer.ts
  lib/grpc/GrpcService.ts
  lib/service/InitService.ts
  lib/service/Service.ts
Labels: P3, grpc

#1297 feat(resolver): retry flag in error message
  lib/http/HttpServer.ts
  lib/http/HttpService.ts
  lib/lndclient/LndClient.ts
  lib/raidenclient/RaidenClient.ts
  lib/swaps/Swaps.ts
  lib/swaps/errors.ts
  npm-shrinkwrap.json
  package.json
  test/integration/WebProxy.spec.ts
  test/jest/HttpServer.spec.ts
  test/jest/LndClient.spec.ts
  test/jest/RaidenClient.spec.ts
  test/jest/WebProxy.spec.ts
  test/jest/__snapshots__/RaidenClient.spec.ts.snap
  test/unit/HttpServer.spec.ts
Labels: raiden, security, swaps

#1308 test: toEip55Address example test
  test/jest/toEip55Address.spec.ts
Labels: automated tests
