Repository ExchangeUnion/xud, pull requests merged in 2019-07, with the labels that each got.

#1070 refactor: proto definition cleanup
  docs/api.md
  lib/orderbook/types.ts
  lib/proto/xudp2p_pb.js
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.js
  proto/xudp2p.proto
  proto/xudrpc.proto
Labels: code quality, grpc

#1055 feat: token identifiers for currencies
  lib/lndclient/LndClient.ts
  lib/orderbook/OrderBook.ts
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  lib/p2p/packets/types/NodeStateUpdatePacket.ts
  lib/p2p/packets/types/SessionInitPacket.ts
  lib/p2p/packets/utils.ts
  lib/p2p/types.ts
  lib/proto/xudp2p_pb.d.ts
  lib/proto/xudp2p_pb.js
  lib/raidenclient/RaidenClient.ts
  lib/service/Service.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/Swaps.ts
  lib/utils/utils.ts
  proto/xudp2p.proto
  test/integration/Pool.spec.ts
  test/jest/Orderbook.spec.ts
  test/jest/Pool.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/p2p/networks.spec.ts
  test/p2p/sanity.spec.ts
  test/unit/Parser.spec.ts
Labels: breaking, p2p

#1075 refactor: checkPeerCurrencies
  lib/orderbook/OrderBook.ts
Labels: code quality

#1077 fix: clean shutdown
  lib/Xud.ts
Labels: code quality

#921 Pairs thresholds
  lib/Config.ts
  lib/Xud.ts
  lib/grpc/GrpcService.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/errors.ts
  lib/orderbook/types.ts
  test/integration/OrderBook.spec.ts
  test/jest/Orderbook.spec.ts
Labels: in progress

#1069 fix: swap sent/received amounts in satoshis
  docs/api.md
  lib/constants/enums.ts
  lib/db/types.ts
  lib/lndclient/LndClient.ts
  lib/orderbook/OrderBook.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.js
  lib/raidenclient/RaidenClient.ts
  lib/swaps/Swaps.ts
  lib/swaps/types.ts
  proto/xudrpc.proto
  test/integration/Swaps.spec.ts
  test/jest/Orderbook.spec.ts
  test/jest/RaidenClient.spec.ts
  test/unit/DB.spec.ts
  test/unit/Swaps.spec.ts
Labels: bug, swaps

#1072 Prevent Raiden from being first swap leg
  lib/http/HttpService.ts
  lib/raidenclient/RaidenClient.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/Swaps.ts
Labels: raiden, swaps

#1066 feat(raiden): channel balance by currency
  lib/raidenclient/RaidenClient.ts
  lib/service/Service.ts
  lib/swaps/SwapClient.ts
  test/jest/RaidenClient.spec.ts
Labels: grpc, raiden

#1085 feat: add testnet seed node
  lib/p2p/seeds/testnet.ts
Labels: p2p

#1084 chore: update dependencies and shrinkwrap
  lib/nodekey/NodeKey.ts
  lib/proto/google/protobuf/descriptor_pb.d.ts
  lib/proto/lndrpc_pb.d.ts
  npm-shrinkwrap.json
  package.json
Labels: build

#1087 fix(raiden): outbound capacity check
  lib/lndclient/LndClient.ts
  lib/orderbook/OrderBook.ts
  lib/raidenclient/RaidenClient.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  test/jest/Orderbook.spec.ts
  test/jest/RaidenClient.spec.ts
  test/jest/SwapClientManager.spec.ts
Labels: bug, raiden

#1102 feat(raiden-resolver): add configuration option for listening interface
  bin/xud
  lib/Config.ts
  lib/Xud.ts
  lib/http/HttpServer.ts
  sample-xud.conf
  test/unit/HttpServer.spec.ts
Labels: raiden

#1065 feat(raiden): check for direct channels
  bin/xud
  lib/Config.ts
  lib/lndclient/LndClient.ts
  lib/orderbook/OrderBook.ts
  lib/p2p/Peer.ts
  lib/raidenclient/RaidenClient.ts
  lib/raidenclient/types.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/Swaps.ts
  test/jest/RaidenClient.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/jest/integration/Swaps.spec.ts
Labels: raiden, swaps

#1083 feat(cli): formatted channelbalance output
  lib/cli/commands/channelbalance.ts
Labels: command line (CLI)

#1109 fix: round unitsToAmount conversion result
  lib/utils/UnitConverter.ts
Labels: bug

#1100 feat: shutdown xud on error during init
  lib/Xud.ts
  lib/grpc/webproxy/GrpcWebProxyServer.ts
  lib/p2p/NodeList.ts
  lib/p2p/Pool.ts
Labels: error handling

#1047 test: breakswap
  package.json
  test/simulation/actions.go
  test/simulation/go.mod
  test/simulation/go.sum
  test/simulation/harnessTest.go
  test/simulation/lntest/harness.go
  test/simulation/tests-integration.go
  test/simulation/tests-security.go
  test/simulation/xud_test.go
  test/simulation/xudtest/harness.go
  test/simulation/xudtest/node.go
Labels: automated tests, security
