Repository ExchangeUnion/xud, pull requests merged in 2019-12, with the labels that each got.

#1322 feat(rpc): unlock returns list of locked wallets
  docs/api.md
  lib/cli/commands/unlock.ts
  lib/grpc/GrpcInitService.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/InitService.ts
  lib/swaps/SwapClientManager.ts
  proto/xudrpc.proto
Labels: command line (CLI), grpc, lightning

#1342 feat(swaps): Resolve unknown hashes from database
  lib/swaps/Swaps.ts
Labels: raiden, swaps

#1296 feat(swaps): add flexibility to second leg route
  lib/lndclient/LndClient.ts
  lib/swaps/Swaps.ts
  test/jest/integration/Swaps.spec.ts
Labels: P3, swaps

#1345 chore: use go 1.13
  .travis.yml
  seedutil/README.md
  seedutil/go.mod
  seedutil/go.sum
  test/simulation/README.md
  test/simulation/go.mod
  test/simulation/go.sum
Labels: build

#1341 feat(rpc): TradingLimits API call
  docs/api.md
  lib/cli/commands/tradinglimits.ts
  lib/grpc/GrpcService.ts
  lib/lndclient/LndClient.ts
  lib/orderbook/OrderBook.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.d.ts
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/raidenclient/RaidenClient.ts
  lib/service/Service.ts
  lib/swaps/SwapClient.ts
  proto/xudrpc.proto
  test/jest/LndClient.spec.ts
  test/jest/Orderbook.spec.ts
  test/jest/RaidenClient.spec.ts
  test/jest/Service.spec.ts
  test/jest/__snapshots__/Service.spec.ts.snap
Labels: grpc

#1334 feat(rpc): RestoreNode call to restore from seed
  docs/api.md
  lib/Xud.ts
  lib/cli/commands/create.ts
  lib/cli/commands/restore.ts
  lib/cli/utils.ts
  lib/grpc/GrpcInitService.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.d.ts
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/InitService.ts
  lib/swaps/SwapClientManager.ts
  lib/utils/seedutil.ts
  proto/xudrpc.proto
  seedutil/README.md
  seedutil/SeedUtil.spec.ts
  seedutil/__snapshots__/SeedUtil.spec.ts.snap
  seedutil/go.mod
  seedutil/go.sum
  seedutil/main.go
Labels: enhancement, grpc

#1349 feat(config): add maxlimits options
  bin/xud
  lib/Config.ts
  lib/Xud.ts
  lib/constants/limits.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/errors.ts
  sample-xud.conf
  test/integration/OrderBook.spec.ts
  test/unit/TradingPair.spec.ts
Labels: configuration, order book

#1344 feat(orderbook): immediate-or-cancel orders
  docs/api.md
  lib/cli/commands/buy.ts
  lib/cli/placeorder.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/types.ts
  lib/proto/annotations_grpc_pb.js
  lib/proto/xudp2p_grpc_pb.js
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  proto/xudrpc.proto
  test/integration/OrderBook.spec.ts
  test/integration/Service.spec.ts
  test/jest/Orderbook.spec.ts
  test/jest/__snapshots__/Orderbook.spec.ts.snap
Labels: grpc, order book

#1351 Upgrade lnd to 0.8.2
  lib/proto/lndrpc_grpc_pb.d.ts
  lib/proto/lndrpc_grpc_pb.js
  lib/proto/lndrpc_pb.d.ts
  lib/proto/lndrpc_pb.js
  lib/proto/xudrpc.swagger.json
  proto/lndrpc.proto
  test/simulation/.env
  test/simulation/go.mod
  test/simulation/go.sum
  test/simulation/lntest/harness.go
  test/simulation/lntest/node.go
  test/simulation/tests-integration.go
Labels: automated tests, lightning
