Repository ExchangeUnion/xud, pull requests merged in 2019-09, with the labels that each got.

#1189 feat(cli): hide password input
  lib/cli/commands/create.ts
  lib/cli/commands/unlock.ts
Labels: command line (CLI), security

#1200 feat: show git commit hash in version
  .gitignore
  lib/service/Service.ts
  package.json
  parseGitCommit.js
Labels: build, enhancement

#1209 fix: log error message reason correctly
  lib/swaps/Swaps.ts
Labels: bug, logging, swaps

#1191 docs: adjust readme as per docs/readme, add xud logo
  README.md
  logo.png
Labels: documentation

#1211 fix(peer): logging label/node pub key
  lib/p2p/Peer.ts
  test/jest/Peer.spec.ts
Labels: bug, logging, p2p

#1212 feat(cli): enhance create output
  docs/api.md
  lib/cli/commands/create.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.js
  proto/xudrpc.proto
Labels: command line (CLI)

#1218 refactor(cli): rename balance to getbalance
  lib/cli/commands/getbalance.ts
Labels: command line (CLI)

#1214 refactor(lndclient): strict method types
  lib/lndclient/LndClient.ts
  lib/lndclient/types.ts
Labels: code quality, lightning

#1213 feat(config): exit on invalid config file
  lib/Config.ts
  lib/Xud.ts
Labels: code quality, configuration

#1119 List currencies enhancements
  docs/api.md
  lib/cli/commands/addcurrency.ts
  lib/cli/commands/listcurrencies.ts
  lib/grpc/GrpcService.ts
  lib/orderbook/OrderBook.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.d.ts
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  proto/xudrpc.proto
Labels: enhancement, grpc, review required

#1194 fix(swaps): check payment rejected error code
  lib/swaps/Swaps.ts
Labels: bug, swaps

#1177 refactor(swaps): change getRoutes to getRoute
  lib/lndclient/LndClient.ts
  lib/raidenclient/RaidenClient.ts
  lib/swaps/SwapClient.ts
  lib/swaps/Swaps.ts
  test/integration/Swaps.spec.ts
  test/jest/integration/Swaps.spec.ts
Labels: code quality, lightning

#1081 feat(swaps): recover crashed swap deals
  docs/api.md
  lib/Xud.ts
  lib/cli/commands/getinfo.ts
  lib/constants/enums.ts
  lib/lndclient/LndClient.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/raidenclient/RaidenClient.ts
  lib/raidenclient/types.ts
  lib/service/Service.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapRecovery.ts
  lib/swaps/Swaps.ts
  package.json
  proto/xudrpc.proto
  test/jest/RaidenClient.spec.ts
  test/jest/SwapRecovery.ts
  test/simulation/harnessTest.go
  test/simulation/tests-instability.go
  test/simulation/xud_test.go
  test/simulation/xudtest/harness.go
  test/simulation/xudtest/node.go
Labels: P1, security, swaps

#1227 fix(swaps): calc lock duration hours correctly
  lib/swaps/Swaps.ts
Labels: bug, logging, swaps

#1179 feat(swaps): dynamic lock buffer
  bin/xud
  lib/Config.ts
  lib/lndclient/LndClient.ts
  lib/lndclient/types.ts
  lib/raidenclient/RaidenClient.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/Swaps.ts
  npm-shrinkwrap.json
  package.json
  sample-xud.conf
  test/jest/LndClient.spec.ts
  test/jest/RaidenClient.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/jest/Swaps.spec.ts
  test/jest/__snapshots__/Swaps.spec.ts.snap
  test/jest/integration/Swaps.spec.ts
Labels: security, swaps

#1225 fix(swapclientmanager): catch genseed errors
  lib/swaps/SwapClientManager.ts
Labels: error handling

#1224 feat(swapclient): heartbeat
  lib/lndclient/LndClient.ts
  lib/raidenclient/RaidenClient.ts
  lib/swaps/SwapClient.ts
Labels: error handling, lightning, raiden

#1226 feat(lnd): automatically unlock wallet on restart
  lib/lndclient/LndClient.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  test/jest/SwapClientManager.spec.ts
Labels: lightning

#1237 refactor: remove localId from ExecuteSwap response
  lib/grpc/GrpcService.ts
  lib/service/Service.ts
Labels: grpc

#1223 feat(swapclient): update capacity on channelbalance
  lib/lndclient/LndClient.ts
  lib/raidenclient/RaidenClient.ts
  lib/swaps/SwapClient.ts
  test/jest/RaidenClient.spec.ts
Labels: swaps

#1203 fix(cli): naming inconsistencies
  lib/cli/commands/addcurrency.ts
  lib/cli/commands/addpair.ts
  lib/cli/commands/ban.ts
  lib/cli/commands/connect.ts
  lib/cli/commands/create.ts
  lib/cli/commands/discovernodes.ts
  lib/cli/commands/executeswap.ts
  lib/cli/commands/getinfo.ts
  lib/cli/commands/getnodeinfo.ts
  lib/cli/commands/openchannel.ts
  lib/cli/commands/removecurrency.ts
  lib/cli/commands/removeorder.ts
  lib/cli/commands/removepair.ts
  lib/cli/commands/shutdown.ts
  lib/cli/commands/streamorders.ts
  lib/cli/commands/unban.ts
  lib/cli/commands/unlock.ts
Labels: code quality, command line (CLI)

#1249 feat(cli): set exit code 1 on errored calls
  lib/cli/command.ts
Labels: command line (CLI)

#1170 feat(cli): getinfo enhancements
  docs/api.md
  lib/cli/commands/getinfo.ts
  lib/grpc/GrpcService.ts
  lib/lndclient/LndClient.ts
  lib/lndclient/errors.ts
  lib/lndclient/types.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/raidenclient/RaidenClient.ts
  lib/raidenclient/errors.ts
  lib/raidenclient/types.ts
  lib/service/Service.ts
  npm-shrinkwrap.json
  proto/xudrpc.proto
  test/simulation/actions.go
  test/simulation/xudrpc/xudrpc.pb.go
Labels: command line (CLI), enhancement, grpc, review required

#1241 feat(config): default p2p port based on network
  lib/Config.ts
  test/jest/Config.spec.ts
  test/jest/SwapRecovery.spec.ts
Labels: automated tests, configuration

#1250 fix(swapclient): continue reconnection attempts
  lib/swaps/SwapClient.ts
Labels: bug

#1246 feat(cli): improve create call response wording
  lib/cli/commands/create.ts
Labels: command line (CLI)

#1204 docs: update simulation test cases
  test/simulation/README.md
Labels: automated tests, documentation

#1247 feat: create eth keystore with master seed
  bin/xud
  lib/Config.ts
  lib/cli/commands/create.ts
  lib/grpc/GrpcInitService.ts
  lib/raidenclient/types.ts
  lib/service/InitService.ts
  lib/swaps/SwapClientManager.ts
  lib/utils/seedutil.ts
  seedutil/README.md
  seedutil/SeedUtil.spec.ts
  seedutil/main.go
  test/jest/RaidenClient.spec.ts
  test/jest/SwapClientManager.spec.ts
Labels: P1, raiden

#1245 chore: run jest script in jest dir
  .travis.yml
  package.json
Labels: automated tests, build

#1257 fix(seedutil): avoid logging seed in logs
  lib/swaps/SwapClientManager.ts
Labels: logging
