Repository ExchangeUnion/xud, pull requests merged in 2019-02, with the labels that each got.

#801 style: add one-line tslint rule
  tasks/config/sample.ts
  tslint.json
Labels: code quality, in progress

#800 Execute swaps in parallel when matching orders
  docs/api.md
  lib/cli/commands/streamorders.ts
  lib/grpc/GrpcService.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/OrderBookRepository.ts
  lib/orderbook/types.ts
  lib/proto/xudrpc.swagger.json
  lib/service/Service.ts
  lib/swaps/Swaps.ts
  lib/swaps/types.ts
  proto/xudrpc.proto
  test/integration/OrderBook.spec.ts
  test/integration/Swap.spec.ts
Labels: in progress, order book, performance, swaps

#803 Partial order removal
  docs/api.md
  lib/cli/commands/cancelorder.ts
  lib/grpc/GrpcService.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/errors.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  proto/xudrpc.proto
Labels: grpc, in progress, order book

#802 refactor(db): add getter types for TradeInstance
  lib/db/types.ts
Labels: code quality, database, in progress

#705 refactor: swapList improvements
  docs/api.md
  lib/grpc/GrpcService.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/swaps/Swaps.ts
  lib/swaps/types.ts
  proto/xudrpc.proto
  test/integration/Swap.spec.ts
Labels: in progress

#762 feat: listen to subscribeInvoices to verify lnd connection
  lib/lndclient/LndClient.ts
Labels: in progress, lightning

#809 fix(orderbook): remove entire order correctly
  lib/cli/commands/removeorder.ts
  lib/orderbook/OrderBook.ts
Labels: bug, in progress, order book

#806 feat(swaps): define behavior for swap errors
  lib/constants/enums.ts
  lib/orderbook/TradingPair.ts
  lib/p2p/NodeList.ts
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  lib/swaps/Swaps.ts
  test/integration/Swap.spec.ts
  tsconfig.json
  tslint.json
Labels: error handling, in progress, swaps

#812 Resolve alerts & update dependencies
  .travis.yml
  lib/p2p/Pool.ts
  lib/proto/annotations_grpc_pb.js
  lib/proto/annotations_pb.js
  lib/proto/google/api/http_grpc_pb.js
  lib/proto/google/api/http_pb.js
  lib/proto/google/protobuf/descriptor_grpc_pb.js
  lib/proto/google/protobuf/descriptor_pb.js
  lib/proto/hash_resolver_pb.js
  lib/proto/lndrpc_pb.js
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.js
  package-lock.json
  package.json
  test/utils.ts
  winFixDeprecation.ps1
Labels: build, in progress, security

#810 refactor(orderbook): throw error in removeOwnOrder
  lib/orderbook/OrderBook.ts
Labels: error handling, in progress, order book

#815 chore: move @types/node to devDependencies
  package-lock.json
  package.json
Labels: build, in progress

#814 feat(rpc): add failed swaps to PlaceOrderSync
  docs/api.md
  lib/grpc/GrpcService.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/types.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  proto/xudrpc.proto
Labels: grpc, in progress
