Repository ExchangeUnion/xud, pull requests merged in 2019-08, with the labels that each got.

#1080 feat(swap): persist active swap deals to db
  lib/constants/enums.ts
  lib/orderbook/OrderBook.ts
  lib/swaps/SwapRepository.ts
  lib/swaps/Swaps.ts
  lib/swaps/types.ts
  test/jest/integration/Swaps.spec.ts
  test/unit/DB.spec.ts
Labels: database, swaps

#1134 feat: not connecting to its own addresses
  lib/p2p/P2PRepository.ts
  lib/p2p/Pool.ts
  test/integration/Pool.spec.ts
  test/jest/Pool.spec.ts
Labels: enhancement

#1137 fix(raiden): log new address correctly
  lib/raidenclient/RaidenClient.ts
Labels: logging

#1138 docs(sim tests): don't install protoc-gen-swagger
  test/simulation/xudrpc/README.md
Labels: automated tests, documentation

#1082 feat(raiden): check cltv delay
  bin/xud
  lib/Config.ts
  lib/http/HttpService.ts
  lib/lndclient/LndClient.ts
  lib/lndclient/types.ts
  lib/p2p/packets/types/SwapAcceptedPacket.ts
  lib/raidenclient/RaidenClient.ts
  lib/raidenclient/types.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/Swaps.ts
  lib/swaps/types.ts
  test/jest/HttpService.spec.ts
  test/jest/LndClient.spec.ts
  test/jest/RaidenClient.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/jest/integration/Swaps.spec.ts
Labels: raiden, swaps

#1141 feat(lnd): update to v0.7.1-beta
  lib/lndclient/LndClient.ts
  lib/proto/lndinvoices_grpc_pb.d.ts
  lib/proto/lndinvoices_grpc_pb.js
  lib/proto/lndinvoices_pb.d.ts
  lib/proto/lndinvoices_pb.js
  lib/proto/lndrpc_grpc_pb.js
  lib/proto/lndrpc_pb.d.ts
  lib/proto/lndrpc_pb.js
  proto/lndinvoices.proto
  proto/lndrpc.proto
  test/simulation/go.mod
  test/simulation/go.sum
  test/simulation/install.sh
Labels: lightning

#1144 Add xud pubkey to reconnection log message
  lib/p2p/Peer.ts
Labels: logging

#1108 style: use "units" for smallest currency unit vars
  lib/lndclient/LndClient.ts
  lib/raidenclient/RaidenClient.ts
  lib/swaps/SwapClient.ts
Labels: code quality

#1143 feat(swapclient): add timeout to initialization
  lib/lndclient/LndClient.ts
  lib/raidenclient/RaidenClient.ts
  lib/swaps/SwapClient.ts
Labels: code quality, error handling

#1101 refactor(lnd): wait for grpc when verifying conn
  lib/lndclient/LndClient.ts
Labels: lightning

#991 feat: if order placed and raiden disabled throw error
  lib/grpc/GrpcService.ts
  lib/orderbook/OrderBook.ts
Labels: order book

#1150 fix: update simnet token addresses
  lib/db/seeds/simnet.ts
Labels: breaking

#1152 fix(lnd): waitForReady infinite deadline
  lib/lndclient/LndClient.ts
  lib/swaps/SwapClient.ts
Labels: bug, lightning

#1151 feat(p2p): log peer's expectedpubkey
  lib/p2p/Peer.ts
  test/p2p/networks.spec.ts
  test/p2p/sanity.spec.ts
  test/simulation/tests-integration.go
Labels: logging, p2p

#1096 feat(initservice): return list of wallets
  docs/api.md
  lib/grpc/GrpcInitService.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/InitService.ts
  lib/swaps/SwapClientManager.ts
  proto/xudrpc.proto
Labels: grpc, lightning

#1002 Limit trade & order sizes for mainnet
  lib/constants/limits.ts
  lib/grpc/GrpcService.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/errors.ts
  lib/p2p/Pool.ts
  test/integration/OrderBook.spec.ts
  test/jest/Orderbook.spec.ts
Labels: order book

#1159 fix(swaps): prevent crash on send payment failure
  lib/swaps/Swaps.ts
Labels: critical bug, swaps

#1166 fix(p2p): prevent xud from crashing when connecting to peer times out
  lib/grpc/GrpcService.ts
  lib/p2p/Peer.ts
Labels: bug, p2p

#791 feat: listtrades grpc command #667
  docs/api.md
  lib/cli/commands/listtrades.ts
  lib/grpc/GrpcService.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/OrderBookRepository.ts
  lib/proto/xudp2p_grpc_pb.js
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.d.ts
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  proto/xudrpc.proto
Labels: grpc, in progress

#929 feat: cli enhancements
  lib/cli/commands/channelbalance.ts
  lib/cli/commands/executeswap.ts
  lib/cli/commands/getinfo.ts
  lib/cli/commands/getnodeinfo.ts
Labels: command line (CLI)

#1163 fix(swaps): set cltvLimit correctly
  lib/db/types.ts
  lib/lndclient/LndClient.ts
  lib/raidenclient/RaidenClient.ts
  lib/swaps/Swaps.ts
  lib/swaps/types.ts
  test/jest/LndClient.spec.ts
  test/jest/integration/Swaps.spec.ts
  test/utils.ts
Labels: critical bug, lightning, swaps

#1168 fix(orderbook): xud crashes upon receiving a NodeStateUpdatePac…
  lib/p2p/Pool.ts
Labels: bug, order book

#1160 test: multi-hop sim test
  test/simulation/README.md
  test/simulation/actions.go
  test/simulation/lntest/harness.go
  test/simulation/tests-integration.go
  test/simulation/xud_test.go
Labels: automated tests

#1169 chore: update typedoc
  npm-shrinkwrap.json
  package.json
Labels: build

#1161 feat(swaps): logging improvements
  lib/swaps/Swaps.ts
  test.js
Labels: logging, swaps

#1167 feat(swaps): improved remote error handling
  lib/constants/enums.ts
  lib/lndclient/LndClient.ts
  lib/swaps/Swaps.ts
  lib/swaps/errors.ts
  test/jest/__snapshots__/LndClient.spec.ts.snap
Labels: error handling, swaps

#1172 fix(swaps): validate Raiden's resolve request
  lib/http/HttpServer.ts
  lib/http/HttpService.ts
  lib/p2p/NodeList.ts
  lib/p2p/Peer.ts
  lib/raidenclient/types.ts
  lib/swaps/Swaps.ts
  lib/swaps/errors.ts
  lib/swaps/types.ts
  test/jest/HttpService.spec.ts
  tslint.json
Labels: error handling, raiden

#1182 test: use dynamic ports for simulation tests
  test/simulation/go.mod
  test/simulation/go.sum
  test/simulation/lntest/node.go
  test/simulation/xudtest/node.go
Labels: automated tests

#1188 fix: allow graceful shutdown while awaiting unlock
  lib/Xud.ts
  lib/grpc/GrpcServer.ts
Labels: bug

#1192 fix(lnd): wait for macaroon before wallet created
  lib/Xud.ts
  lib/lndclient/LndClient.ts
  lib/nodekey/NodeKey.ts
  lib/service/InitService.ts
  lib/swaps/SwapClientManager.ts
Labels: bug, lightning
