Repository ExchangeUnion/xud, pull requests merged in 2020-12, with the labels that each got.

#2015 fix(p2p): fix stall timer checks
  lib/p2p/Peer.ts
Labels: bug, p2p

#2022 fix(rpc): 0 remaining quantity on full remove
  lib/cli/commands/removeorder.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/TradingPair.ts
Labels: bug, command line (CLI), grpc, order book

#1938 feat: add connext vector support
  docs/api.md
  lib/Xud.ts
  lib/cli/commands/closechannel.ts
  lib/cli/commands/deposit.ts
  lib/connextclient/ConnextClient.ts
  lib/connextclient/README.md
  lib/connextclient/errors.ts
  lib/connextclient/types.ts
  lib/db/seeds/simnet.ts
  lib/grpc/GrpcService.ts
  lib/grpc/getGrpcError.ts
  lib/http/HttpService.ts
  lib/lndclient/LndClient.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.d.ts
  lib/proto/xudrpc_grpc_pb.js
  lib/service/Service.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/Swaps.ts
  lib/utils/simnet-connext-channels.ts
  package.json
  proto/xudrpc.proto
  test/jest/Connext.spec.ts
  test/jest/HttpServer.spec.ts
  test/jest/HttpService.spec.ts
  test/jest/__snapshots__/Connext.spec.ts.snap
  test/simulation/actions.go
  test/simulation/docker-build.sh
  test/simulation/docker-compose.yml
  test/simulation/docker-run.sh
  test/simulation/tests-instability.go
  test/simulation/tests-integration.go
  test/simulation/xud_test.go
  test/simulation/xudrpc/xudrpc.pb.go
  test/simulation/xudtest/harness.go
  test/simulation/xudtest/node.go
Labels: breaking, connext, swaps

#2026 feat(connext): estimate fee for closechannel
  lib/connextclient/ConnextClient.ts
  lib/connextclient/types.ts
Labels: connext

#2013 style(lint): upgrade from tslint to eslint
  .eslintignore
  .eslintrc.js
  lib/cli/commands/listpeers.ts
  npm-shrinkwrap.json
  package.json
  tslint-alt.json
  tslint.json
Labels: build, code quality

#2027 feat(connext): reconcile deposit when channel balance changes
  lib/connextclient/ConnextClient.ts
Labels: connext

#2035 chore: upgrade sqlite3 to v5.0.0
  npm-shrinkwrap.json
  package.json
Labels: build

#2009 feat(p2p): Track peers' connection failures and rank accordingly
  lib/db/DB.ts
  lib/db/migrations.ts
  lib/db/models/Node.ts
  lib/db/types.ts
  lib/p2p/NodeList.ts
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
Labels: enhancement, p2p

#1904 feat: bigint units & decimalplaces from db
  .github/workflows/ci.yml
  .github/workflows/seedutil.yml
  .github/workflows/simtest.yml
  jest.config.js
  lib/Xud.ts
  lib/connextclient/ConnextClient.ts
  lib/connextclient/types.ts
  lib/http/HttpService.ts
  lib/lndclient/LndClient.ts
  lib/orderbook/OrderBook.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/Swaps.ts
  lib/swaps/types.ts
  lib/utils/UnitConverter.ts
  npm-shrinkwrap.json
  package.json
  test/integration/OrderBook.spec.ts
  test/integration/Swaps.spec.ts
  test/jest/Connext.spec.ts
  test/jest/DB.spec.ts
  test/jest/LndClient.spec.ts
  test/jest/Orderbook.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/jest/Swaps.spec.ts
  test/jest/UnitConverter.spec.ts
  test/jest/__snapshots__/UnitConverter.spec.ts.snap
  test/jest/integration/Swaps.spec.ts
  test/unit/Swaps.spec.ts
  test/utils.ts
  tsconfig.json
Labels: code quality, database, swaps

#2041 fix: connext status shouldn't show Ready unless connection verified
  lib/connextclient/ConnextClient.ts
Labels: connext, grpc

#2039 fix: removeallorders won't be interrupted by a removeorder error
  lib/orderbook/OrderBook.ts
Labels: grpc, order book

#2049 fix(orderbook): remove local order id mappings
  lib/orderbook/OrderBook.ts
  lib/orderbook/TradingPair.ts
  lib/service/Service.ts
  test/unit/TradingPair.spec.ts
Labels: bug, order book

#2043 feat(connext): multi currency support
  jest.config.js
  lib/connextclient/ConnextClient.ts
  lib/connextclient/ethprovider.ts
  lib/connextclient/types.ts
  lib/db/seeds/simnet.ts
  npm-shrinkwrap.json
  package.json
  test/jest/Connext.spec.ts
Labels: code quality, connext
