Repository ExchangeUnion/xud, pull requests merged in 2020-06, with the labels that each got.

#1592 feat(swaps): use SwapRecovery for maker pay errors
  lib/swaps/Swaps.ts
  test/simulation/tests-security.go
Labels: security, swaps

#1600 feat(swaps): check payment immediately on recovery
  lib/swaps/SwapRecovery.ts
  lib/swaps/Swaps.ts
  test/jest/SwapRecovery.spec.ts
Labels: P2, enhancement, swaps

#1568 fix: resolve alias for all known nodes
  lib/p2p/NodeList.ts
  lib/p2p/Pool.ts
Labels: grpc

#1577 feat(rpc/connext): deposit & openchannel calls
  docs/api.md
  lib/cli/commands/closechannel.ts
  lib/cli/commands/openchannel.ts
  lib/cli/commands/walletdeposit.ts
  lib/cli/commands/walletwithdraw.ts
  lib/connextclient/ConnextClient.ts
  lib/grpc/GrpcService.ts
  lib/grpc/getGrpcError.ts
  lib/lndclient/LndClient.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.d.ts
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/raidenclient/RaidenClient.ts
  lib/service/Service.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/errors.ts
  lib/swaps/types.ts
  proto/xudrpc.proto
  test/jest/LndClient.spec.ts
  test/jest/Service.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/jest/__snapshots__/SwapClientManager.spec.ts.snap
  test/simulation/xudrpc/xudrpc.pb.go
Labels: P1, command line (CLI), connext, grpc

#1603 fix(connext): set default lookupPayment status as pending
  lib/connextclient/ConnextClient.ts
Labels: connext

#1604 Update dependencies
  lib/connextclient/ConnextClient.ts
  lib/lndclient/LndClient.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/TradingPair.ts
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  lib/raidenclient/RaidenClient.ts
  lib/swaps/Swaps.ts
  lib/utils/addressUtils.ts
  npm-shrinkwrap.json
  package.json
  test/integration/Swaps.spec.ts
  test/jest/Orderbook.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/simulation/custom-xud.patch
Labels: build

#1616 feat: add additional seed nodes
  lib/db/seeds/mainnet.ts
  lib/db/seeds/simnet.ts
  lib/db/seeds/testnet.ts
Labels: P3

#1618 fix(swaps): don't try to accept a failed deal
  lib/swaps/Swaps.ts
Labels: P1, bug, swaps

#1621 fix(p2p): change connext_address to connext_identifier
  docs/api.md
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  lib/p2p/packets/utils.ts
  lib/p2p/types.ts
  lib/proto/xudp2p_pb.d.ts
  lib/proto/xudp2p_pb.js
  proto/xudp2p.proto
  test/jest/Pool.spec.ts
  test/unit/Parser.spec.ts
Labels: P1, breaking, p2p

#1617 fix(swaps): go to recovery for all failures
  lib/connextclient/ConnextClient.ts
  lib/lndclient/LndClient.ts
  lib/swaps/Swaps.ts
Labels: P1, bug, swaps

#1630 Logging improvements
  lib/backup/Backup.ts
  lib/lndclient/LndClient.ts
  lib/service/Service.ts
  lib/service/errors.ts
  test/jest/__snapshots__/Service.spec.ts.snap
Labels: logging

#1629 fix(cli): accept lower case currencies
  lib/cli/commands/walletdeposit.ts
  lib/cli/commands/walletwithdraw.ts
Labels: bug, command line (CLI)

#1639 feat(connext): log created outgoing hashlock xfers
  lib/connextclient/ConnextClient.ts
Labels: connext, logging

#1642 fix(swaps): cancel timer immediately on complete
  lib/swaps/Swaps.ts
Labels: bug, swaps

#1638 refactor(swaps): parallel swap accept packet send
  lib/swaps/Swaps.ts
Labels: swaps

#1631 refactor(swaps): check inactive currencies sooner
  lib/swaps/Swaps.ts
Labels: code quality, swaps

#1653 feat(connext): use channel balance as max outgoing
  lib/connextclient/ConnextClient.ts
Labels: P1, connext, grpc

#1664 feat: log preimage when revealed from sent payment
  lib/connextclient/ConnextClient.ts
  lib/lndclient/LndClient.ts
Labels: logging, swaps

#1663 fix(cli): streamorders handling xud not ready
  lib/cli/commands/streamorders.ts
  lib/grpc/GrpcService.ts
Labels: bug, command line (CLI)

#1641 fix(rpc): close listeners for streaming calls
  lib/grpc/GrpcService.ts
  lib/service/Service.ts
Labels: bug, grpc

#1655 feat(backup): write xud db every 3 minutes max
  lib/backup/Backup.ts
  test/jest/Backup.spec.ts
Labels: P1, performance

#1667 feat(swaps): log when we attempt settleInvoice
  lib/connextclient/ConnextClient.ts
  lib/lndclient/LndClient.ts
Labels: logging, swaps

#1665 refactor(rpc): use rxjs for streaming calls
  lib/grpc/GrpcService.ts
  lib/service/Service.ts
Labels: P3, code quality, grpc

#1669 fix: remove old exchangeunion.com seed nodes
  lib/db/seeds/mainnet.ts
  lib/db/seeds/testnet.ts
Labels: P2, p2p

#1671 chore: add GitHub actions
  .github/workflows/ci.yml
  .github/workflows/seedutil.yml
  .github/workflows/simtest.yml
  parseGitCommit.js
Labels: build

#1682 feat: travis ci badge -> github action badges
  README.md
Labels: P3

#1680 feat(swaps): new PreimageResolved swap phase
  .github/workflows/simtest.yml
  lib/Logger.ts
  lib/constants/enums.ts
  lib/orderbook/OrderBook.ts
  lib/p2p/NodeList.ts
  lib/p2p/Pool.ts
  lib/swaps/SwapRecovery.ts
  lib/swaps/Swaps.ts
  lib/swaps/types.ts
  test/integration/Swaps.spec.ts
  test/jest/SwapRecovery.spec.ts
  test/jest/Swaps.spec.ts
  test/jest/integration/Swaps.spec.ts
  test/simulation/custom-xud.patch
  test/simulation/docker-run.sh
  test/simulation/tests-security.go
  test/utils.ts
Labels: P1, error handling, security, swaps
