Repository ExchangeUnion/xud, pull requests merged in 2020-10, with the labels that each got.

#1916 feat(connext): lazy collateralization
  lib/connextclient/ConnextClient.ts
  lib/lndclient/LndClient.ts
  lib/orderbook/OrderBook.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  test/integration/OrderBook.spec.ts
  test/jest/Connext.spec.ts
  test/jest/Orderbook.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/simulation/custom-xud.patch
  test/simulation/tests-instability.go
Labels: connext, order book

#1926 test(sim): connext collateralization with wait
  test/simulation/custom-xud.patch
  test/simulation/tests-instability.go
Labels: automated tests, connext

#1928 feat: derive child seed for swap clients
  lib/lndclient/LndClient.ts
  lib/nodekey/NodeKey.ts
  lib/utils/seedutil.ts
  seedutil/SeedUtil.spec.ts
  seedutil/__snapshots__/SeedUtil.spec.ts.snap
  seedutil/main.go
Labels: lightning

#1925 feat(rpc): expose reserved balance for GetBalance
  docs/api.md
  lib/cli/commands/getbalance.ts
  lib/grpc/GrpcService.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  proto/xudrpc.proto
  test/jest/Service.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/jest/cli/__snapshots__/getbalance.spec.ts.snap
  test/jest/cli/getbalance.spec.ts
  test/simulation/tests-integration.go
  test/simulation/xudrpc/xudrpc.pb.go
Labels: grpc

#1931 fix(cli): switch getbalance table columns
  lib/cli/commands/getbalance.ts
  test/jest/cli/__snapshots__/getbalance.spec.ts.snap
Labels: bug, command line (CLI)

#1933 feat(rpc): reserved order amount for TradingLimits
  docs/api.md
  lib/cli/commands/getbalance.ts
  lib/cli/commands/tradinglimits.ts
  lib/connextclient/ConnextClient.ts
  lib/grpc/GrpcService.ts
  lib/lndclient/LndClient.ts
  lib/proto/annotations_grpc_pb.js
  lib/proto/xudp2p_grpc_pb.js
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/types.ts
  proto/xudrpc.proto
  test/jest/Connext.spec.ts
  test/jest/LndClient.spec.ts
  test/jest/Service.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/jest/__snapshots__/Service.spec.ts.snap
  test/jest/__snapshots__/SwapClientManager.spec.ts.snap
  test/jest/cli/__snapshots__/getbalance.spec.ts.snap
  test/jest/cli/__snapshots__/tradinglimits.spec.ts.snap
  test/jest/cli/getbalance.spec.ts
  test/jest/cli/tradinglimits.spec.ts
  test/simulation/tests-integration.go
  test/simulation/xudrpc/xudrpc.pb.go
Labels: grpc

#1936 feat(cli): case insensitive choices
  lib/cli/commands/addcurrency.ts
  lib/cli/commands/listorders.ts
Labels: command line (CLI)

#1910 fix: added new grpc method to easily cancel all orders
  docs/api.md
  lib/cli/commands/removeallorders.ts
  lib/grpc/GrpcService.ts
  lib/orderbook/OrderBook.ts
  lib/proto/annotations_grpc_pb.js
  lib/proto/xudp2p_grpc_pb.js
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.d.ts
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  proto/xudrpc.proto
  test/simulation/xudrpc/xudrpc.pb.go
Labels: grpc, order book

#1939 fix: rename tradinglimits reserved_inbound json_name
  lib/proto/annotations_grpc_pb.js
  lib/proto/xudp2p_grpc_pb.js
  proto/xudrpc.proto
  test/simulation/xudrpc/xudrpc.pb.go
Labels: grpc

#1944 fix(cli): typo in unlock.ts
  lib/cli/commands/unlock.ts
Labels: command line (CLI)

#1941 fix: addpair should prevent adding same base and quote assets (#1559)
  lib/grpc/getGrpcError.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/errors.ts
Labels: bug, grpc

#1946 refactor(rpc): rename reserved TradingLimits fields
  docs/api.md
  lib/cli/commands/tradinglimits.ts
  lib/grpc/GrpcService.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/swaps/SwapClientManager.ts
  lib/swaps/types.ts
  proto/xudrpc.proto
  test/jest/cli/__snapshots__/tradinglimits.spec.ts.snap
  test/jest/cli/tradinglimits.spec.ts
  test/simulation/xudrpc/xudrpc.pb.go
Labels: grpc

#1955 feat(rpc): SetLogLevel
  docs/api.md
  lib/Logger.ts
  lib/Xud.ts
  lib/cli/commands/loglevel.ts
  lib/grpc/GrpcService.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.d.ts
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/swaps/SwapClientManager.ts
  proto/xudrpc.proto
  test/simulation/xudrpc/xudrpc.pb.go
Labels: grpc, logging

#1948 fix: getinfo output for lnd channels (#1940)
  lib/cli/commands/getinfo.ts
Labels: grpc

#1943 fix: added swap success log entry (#1649)
  lib/swaps/Swaps.ts
  test/jest/integration/Swaps.spec.ts
Labels: logging

#1951 fix: manual ban causes an undefined log entry (#1779)
  lib/p2p/Pool.ts
Labels: logging

#1959 fix:incorrect address conversion for connext currencies while adding currencies #1957
  lib/cli/commands/addcurrency.ts
Labels: bug, command line (CLI)

#1965 fix(p2p): don't reconnect peers when pool closed
  lib/p2p/Pool.ts
Labels: P1, p2p

#1963 fix(connext): not enough balance for closechannel
  lib/connextclient/ConnextClient.ts
Labels: connext, error handling

#1949 feat: reserved capacity checks on PlaceOrder
  lib/connextclient/ConnextClient.ts
  lib/grpc/getGrpcError.ts
  lib/lndclient/LndClient.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/errors.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/Swaps.ts
  lib/swaps/errors.ts
  lib/utils/UnitConverter.ts
  test/jest/Orderbook.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/jest/UnitConverter.spec.ts
  test/jest/__snapshots__/Orderbook.spec.ts.snap
  test/jest/__snapshots__/SwapClientManager.spec.ts.snap
  test/unit/Swaps.spec.ts
Labels: grpc, order book
