Repository ExchangeUnion/xud, pull requests merged in 2020-05, with the labels that each got.

#1518 chore: new xud1.simnet.exchangeunion.com
  lib/db/seeds/simnet.ts
Labels: P2

#1512 Connext fixes
  docs/api.md
  lib/cli/commands/getinfo.ts
  lib/connextclient/ConnextClient.ts
  lib/connextclient/types.ts
  lib/grpc/GrpcService.ts
  lib/http/HttpService.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapRecovery.ts
  lib/swaps/Swaps.ts
  lib/utils/simnet-connext-channels.ts
  proto/xudrpc.proto
  test/jest/SwapRecovery.spec.ts
  test/simulation/xudrpc/xudrpc.pb.go
Labels: P1

#1524 feat: testing config option for develoment/tests
  bin/xud
  lib/Config.ts
  lib/Xud.ts
  lib/orderbook/OrderBook.ts
  lib/p2p/Pool.ts
  test/jest/SwapClientManager.spec.ts
Labels: P2, configuration

#1522 feat(cli): use ticker format for addpair
  lib/cli/commands/addpair.ts
  lib/cli/commands/openchannel.ts
Labels: command line (CLI)

#1501 test(sim): fix security tests
  lib/p2p/Pool.ts
  lib/swaps/Swaps.ts
  test/simulation/actions.go
  test/simulation/tests-security.go
  test/simulation/xud_test.go
Labels: automated tests, bug

#1484 test(sim): maker lnd to crash before order settlement
  test/simulation/lntest/harness.go
  test/simulation/lntest/node.go
  test/simulation/tests-instability.go
Labels: automated tests

#1529 fix: add connextUpdate listener when not operational
  lib/swaps/SwapClientManager.ts
Labels: P1, bug, connext

#1534 test(sim): travis to run security/instability tests
  .travis.yml
  test/simulation/custom-xud.patch
  test/simulation/tests-instability.go
Labels: automated tests

#1540 fix(connext): rebalancer logic for simnet channel opener
  lib/Xud.ts
  lib/utils/simnet-connext-channels.ts
Labels: bug, connext

#1537 feat(cli): print placeorder swapfailure reason
  lib/cli/placeorder.ts
Labels: command line (CLI)

#1535 feat(p2p): log reason enum for SwapFailed packet
  lib/p2p/Pool.ts
Labels: P3, logging

#1541 feat(cli): clarify positional args & add examples
  lib/cli/commands/addcurrency.ts
  lib/cli/commands/ban.ts
  lib/cli/commands/closechannel.ts
  lib/cli/commands/connect.ts
  lib/cli/commands/deposit.ts
  lib/cli/commands/discovernodes.ts
  lib/cli/commands/executeswap.ts
  lib/cli/commands/getbalance.ts
  lib/cli/commands/getnodeinfo.ts
  lib/cli/commands/listorders.ts
  lib/cli/commands/listtrades.ts
  lib/cli/commands/openchannel.ts
  lib/cli/commands/orderbook.ts
  lib/cli/commands/removecurrency.ts
  lib/cli/commands/removeorder.ts
  lib/cli/commands/removepair.ts
  lib/cli/commands/sell.ts
  lib/cli/commands/streamorders.ts
  lib/cli/commands/tradinglimits.ts
  lib/cli/commands/unban.ts
  lib/cli/commands/withdraw.ts
  lib/cli/placeorder.ts
Labels: command line (CLI)

#1542 fix(cli): cleaner message if decimal_places NaN
  lib/cli/commands/addcurrency.ts
Labels: command line (CLI)

#1551 refactor: remove network-based order limits
  lib/Config.ts
  lib/Xud.ts
  lib/constants/limits.ts
  lib/grpc/getGrpcError.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/errors.ts
  sample-xud.conf
Labels: order book

#1536 feat(cli): use streaming PlaceOrder by default
  lib/cli/placeorder.ts
  lib/grpc/GrpcServer.ts
Labels: P2, command line (CLI)

#1555 fix: broadcast invalidation after internal match
  lib/orderbook/OrderBook.ts
  test/simulation/actions.go
  test/simulation/tests-integration.go
  test/simulation/xudtest/node.go
Labels: automated tests, bug, order book

#1549 refactor: remove SwapCompleted phase & packet
  docs/api.md
  lib/constants/enums.ts
  lib/p2p/Parser.ts
  lib/p2p/Pool.ts
  lib/p2p/packets/PacketType.ts
  lib/p2p/packets/types/SwapCompletePacket.ts
  lib/p2p/packets/types/index.ts
  lib/proto/xudp2p_pb.d.ts
  lib/proto/xudp2p_pb.js
  lib/swaps/Swaps.ts
  proto/xudp2p.proto
  test/simulation/README.md
  test/simulation/custom-xud.patch
  test/unit/DB.spec.ts
  test/unit/Parser.spec.ts
Labels: p2p, swaps

#1552 Readme Update
  README.md
Labels: P3, documentation

#1563 feat: peer order match events & alias
  docs/api.md
  lib/cli/placeorder.ts
  lib/grpc/GrpcService.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/types.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/service/types.ts
  proto/xudrpc.proto
  test/jest/Service.spec.ts
  test/simulation/xudrpc/xudrpc.pb.go
Labels: command line (CLI), grpc

#1550 Custom xud patch improvements
  package.json
  test/simulation/README.md
Labels: automated tests, build

#1571 fix(swaps): failed payment for completed swap
  lib/swaps/Swaps.ts
  test/simulation/custom-xud.patch
Labels: bug, error handling, swaps

#1575 chore: remove extra newlines in create command to fit tty
  lib/cli/commands/create.ts
Labels: P3

#1579 fix(connext): add 0x prefix to getHashLockStatus
  lib/connextclient/ConnextClient.ts
Labels: connext

#1581 fix(swaps): don't fail payment for complete swap
  lib/swaps/Swaps.ts
Labels: swaps

#1582 chore: print xud logs only for simulation tests
  test/simulation/logs.sh
Labels: automated tests, build

#1583 Fix connext swap recovery
  lib/connextclient/ConnextClient.ts
  lib/connextclient/types.ts
  lib/swaps/Swaps.ts
Labels: connext, swaps

#1567 feat(rpc): TradeHistory
  docs/api.md
  lib/Xud.ts
  lib/cli/commands/listpeers.ts
  lib/cli/commands/listtrades.ts
  lib/cli/commands/tradehistory.ts
  lib/cli/utils.ts
  lib/constants/enums.ts
  lib/db/models/Trade.ts
  lib/db/types.ts
  lib/grpc/GrpcService.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/OrderBookRepository.ts
  lib/orderbook/TradingPair.ts
  lib/p2p/NodeList.ts
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.d.ts
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/service/types.ts
  lib/swaps/Swaps.ts
  lib/utils/aliasUtils.ts
  proto/xudrpc.proto
  test/integration/Service.spec.ts
  test/jest/Peer.spec.ts
  test/jest/aliasUtils.spec.ts
  test/simulation/xudrpc/xudrpc.pb.go
  test/unit/DB.spec.ts
Labels: command line (CLI), grpc

#1580 fix(swaps): don't cancel invoice on swap timeout
  .travis.yml
  lib/Logger.ts
  lib/Xud.ts
  lib/connextclient/ConnextClient.ts
  lib/constants/enums.ts
  lib/orderbook/OrderBook.ts
  lib/p2p/Pool.ts
  lib/service/Service.ts
  lib/service/types.ts
  lib/swaps/SwapRecovery.ts
  lib/swaps/Swaps.ts
  test/jest/Orderbook.spec.ts
  test/jest/Service.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/jest/SwapRecovery.spec.ts
  test/jest/integration/Swaps.spec.ts
  test/simulation/custom-xud.patch
  test/simulation/tests-security.go
Labels: P1, bug, security, swaps
