Repository ExchangeUnion/xud, pull requests merged in 2020-08, with the labels that each got.

#1777 fix(p2p): handle multiple socket errors
  lib/p2p/Peer.ts
Labels: bug, error handling, p2p

#1781 fix(p2p): remove socket listeners after destroy
  lib/p2p/Peer.ts
Labels: error handling, p2p

#1784 fix(rpc): don't block TradingLimits on failure
  lib/service/Service.ts
Labels: grpc

#1782 test: fix unhandled rejections
  package.json
  test/jest/integration/Swaps.spec.ts
Labels: automated tests

#1745 test: remove temp/indra folder on clean
  package.json
  test/simulation/docker-run.sh
Labels: P2

#1786 fix: change buy/sell command examples to btc/usdt
  lib/cli/placeorder.ts
Labels: P3

#1783 feat(connext): request collateral after deposit
  lib/connextclient/ConnextClient.ts
Labels: connext

#1788 feat(cli): print no more matches on partial mkt
  lib/cli/placeorder.ts
Labels: command line (CLI)

#1795 feat(simnet): update USDT contract
  lib/db/seeds/simnet.ts
  lib/swaps/Swaps.ts
  lib/utils/UnitConverter.ts
Labels: P1, bug, connext, simnet

#1785 feat(orderbook): prevent sub-satoshi order & match
  lib/orderbook/OrderBook.ts
  lib/orderbook/TradingPair.ts
  lib/orderbook/errors.ts
  lib/orderbook/types.ts
  test/integration/OrderBook.spec.ts
  test/unit/TradingPair.spec.ts
Labels: order book

#1789 chore: update test dependencies
  npm-shrinkwrap.json
  package.json
  tslint.json
Labels: automated tests, build

#1790 test: fix openPeer await
  lib/p2p/Pool.ts
  test/integration/Pool.spec.ts
Labels: automated tests

#1791 test: fix parser split race condition
  test/unit/Parser.spec.ts
Labels: automated tests

#1741 feat(connext): removeInvoice
  lib/connextclient/ConnextClient.ts
  lib/connextclient/types.ts
  lib/http/HttpService.ts
Labels: connext

#1761 fix(swaps): no remote fail when sending payment
  lib/swaps/Swaps.ts
  test/simulation/go.mod
  test/simulation/tests-security.go
Labels: bug, swaps

#1804 fix(service): replace order id
  lib/service/Service.ts
Labels: P1, bug, grpc

#1803 test(sim): auto retry, safer free ports
  .github/workflows/simtest.yml
  test/simulation/connexttest/client.go
  test/simulation/docker-run.sh
  test/simulation/lntest/node.go
  test/simulation/shared/freeport.go
  test/simulation/xudtest/node.go
Labels: P2, automated tests

#1808 fix: restrict reputation events in non-strict mode
  lib/p2p/Pool.ts
  lib/swaps/Swaps.ts
  test/integration/Swaps.spec.ts
Labels: P1, bug, configuration, p2p

#1812 feat(p2p): replace order in single packet
  lib/orderbook/OrderBook.ts
  lib/orderbook/TradingPair.ts
  lib/orderbook/types.ts
  lib/p2p/Pool.ts
  lib/p2p/packets/types/OrderPacket.ts
  lib/proto/xudp2p_pb.d.ts
  lib/proto/xudp2p_pb.js
  lib/service/Service.ts
  proto/xudp2p.proto
  test/integration/OrderBook.spec.ts
  test/integration/Service.spec.ts
  test/jest/Orderbook.spec.ts
  test/simulation/tests-integration.go
  test/unit/Parser.spec.ts
Labels: P1, grpc, order book, p2p

#1820 fix(connext): convert contract addresses to eip55 standard
  lib/db/seeds/mainnet.ts
  lib/service/Service.ts
Labels: connext

#1819 feat(rpc): log each call with trace not debug
  lib/grpc/GrpcServer.ts
Labels: grpc, logging

#1823 fix: strict command arg
  bin/xud
Labels: bug, configuration

#1824 refactor: remove raiden support
  .github/ISSUE_TEMPLATE/bug-report.md
  bin/xud
  bin/xud-backup
  docs/api.md
  lib/Config.ts
  lib/Logger.ts
  lib/Xud.ts
  lib/cli/commands/addcurrency.ts
  lib/cli/commands/create.ts
  lib/cli/commands/listpeers.ts
  lib/cli/commands/restore.ts
  lib/constants/enums.ts
  lib/constants/errorCodesPrefix.ts
  lib/grpc/GrpcInitService.ts
  lib/grpc/GrpcService.ts
  lib/http/HttpServer.ts
  lib/http/HttpService.ts
  lib/orderbook/OrderBook.ts
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  lib/p2p/packets/utils.ts
  lib/p2p/types.ts
  lib/proto/xudp2p_pb.d.ts
  lib/proto/xudp2p_pb.js
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/raidenclient/README.md
  lib/raidenclient/RaidenClient.ts
  lib/raidenclient/errors.ts
  lib/raidenclient/types.ts
  lib/service/InitService.ts
  lib/service/Service.ts
  lib/service/types.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/Swaps.ts
  proto/xudp2p.proto
  proto/xudrpc.proto
  sample-xud.conf
  test/integration/Service.spec.ts
  test/jest/HttpServer.spec.ts
  test/jest/HttpService.spec.ts
  test/jest/Orderbook.spec.ts
  test/jest/Pool.spec.ts
  test/jest/RaidenClient.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/jest/Swaps.spec.ts
  test/jest/WebProxy.spec.ts
  test/jest/__snapshots__/RaidenClient.spec.ts.snap
  test/p2p/sanity.spec.ts
  test/simulation/README.md
  test/simulation/xudrpc/xudrpc.pb.go
  test/unit/Parser.spec.ts
  test/unit/Swaps.spec.ts
Labels: breaking

#1826 feat(connext): mark payment as failed when receiving 404 status
  lib/connextclient/ConnextClient.ts
  test/jest/Connext.spec.ts
  test/jest/__snapshots__/Connext.spec.ts.snap
Labels: connext

#1809 chore: update seed nodes
  lib/db/seeds/mainnet.ts
  lib/db/seeds/simnet.ts
Labels: P1

#1831 fix: improve HttpServer error logging
  lib/http/HttpServer.ts
Labels: logging

#1830 fix(orderbook): add back fully matched orders
  lib/orderbook/OrderBook.ts
Labels: bug, order book

#1834 refactor: minCompatible version param for Pool
  lib/p2p/Pool.ts
  test/jest/Pool.spec.ts
Labels: automated tests, p2p

#1821 feat(orderbook): automatically remove dust orders
  lib/orderbook/OrderBook.ts
  lib/orderbook/TradingPair.ts
  lib/service/Service.ts
  test/integration/OrderBook.spec.ts
  test/integration/Service.spec.ts
  test/jest/Orderbook.spec.ts
  test/simulation/tests-instability.go
  test/simulation/tests-integration.go
  test/unit/TradingPair.spec.ts
Labels: order book

#1833 feat(tests): upgrade connext simtests to 7.3.6
  lib/connextclient/README.md
  test/simulation/connexttest/client.go
  test/simulation/connexttest/harness.go
  test/simulation/docker-build.sh
  test/simulation/docker-connext/Dockerfile
  test/simulation/tests-integration.go
Labels: automated tests, connext

#1692 feat: generate 2048-bit tls certs
  lib/grpc/GrpcServer.ts
Labels: P3, grpc

#1836 feat(tests): upgrade connext simtests to 7.3.8
  test/simulation/docker-build.sh
Labels: automated tests, connext

#1841 revert: feat: generate 2048-bit tls certs
  lib/grpc/GrpcServer.ts
Labels: grpc

#1843 fix(orderbook): reject all dust peer orders
  lib/orderbook/OrderBook.ts
Labels: order book

#1839 feat(orderbook): don't add back invalidated orders
  lib/orderbook/OrderBook.ts
  test/jest/Orderbook.spec.ts
Labels: P1, bug, order book

#1842 fix(orderbook): prevent stuck replace order holds
  lib/orderbook/OrderBook.ts
Labels: P1, bug, order book

#1822 feat(swaps): monitor pending payments before fail
  lib/connextclient/ConnextClient.ts
  lib/swaps/SwapRecovery.ts
  lib/swaps/Swaps.ts
  test/simulation/custom-xud.patch
  test/simulation/tests-security.go
Labels: security, swaps
