Repository ExchangeUnion/xud, pull requests merged in 2020-09, with the labels that each got.

#1855 docs(cli): remove unimplemented eth closechannel
  lib/cli/commands/closechannel.ts
Labels: command line (CLI), documentation

#1853 feat: implement Connext wallet withdrawals
  lib/cli/commands/walletwithdraw.ts
  lib/connextclient/ConnextClient.ts
  lib/connextclient/types.ts
  lib/grpc/GrpcService.ts
  lib/lndclient/LndClient.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
Labels: P0, connext

#1854 fix(connext): prevent duplicate htlcAccepted evts
  lib/connextclient/ConnextClient.ts
  lib/swaps/Swaps.ts
  test/simulation/custom-xud.patch
Labels: connext, error handling, swaps

#1865 feat(logging): order holds on trace level
  lib/orderbook/TradingPair.ts
Labels: logging, order book

#1859 chore(connext): add integration tests for withdraw
  lib/connextclient/ConnextClient.ts
  lib/grpc/getGrpcError.ts
  test/jest/Connext.spec.ts
  test/jest/__snapshots__/Connext.spec.ts.snap
Labels: P2, automated tests, connext

#1869 feat(orderbook): better replace order hold message
  lib/grpc/getGrpcError.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/errors.ts
Labels: grpc

#1870 feat(p2p): increase reconnection delay backoff
  lib/p2p/Peer.ts
Labels: p2p

#1871 feat(p2p): don't log empty order packets
  lib/p2p/Pool.ts
Labels: logging, p2p

#1857 feat(connext): unlock expired transfer apps
  lib/connextclient/ConnextClient.ts
  npm-shrinkwrap.json
  package.json
  test/jest/Connext.spec.ts
Labels: connext

#1863 feat(connext): reject app install for transfers without status field
  lib/connextclient/ConnextClient.ts
  lib/connextclient/types.ts
  test/jest/Connext.spec.ts
Labels: connext

#1873 fix: bold link, mm link
  README.md
Labels: P2, documentation

#1882 docs: fix cli help typos
  lib/cli/commands/closechannel.ts
  lib/cli/commands/walletdeposit.ts
Labels: documentation

#1883 fix: listorders limit displays first orders instead of last
  lib/service/Service.ts
  test/jest/Service.spec.ts
Labels: grpc

#1890 fix: order invalidation only be sent to peers with active pair (#1530)
  lib/p2p/Pool.ts
Labels: logging, p2p

#1867 Open/close channel txid show instead of success
  docs/api.md
  lib/connextclient/ConnextClient.ts
  lib/connextclient/types.ts
  lib/grpc/GrpcService.ts
  lib/lndclient/LndClient.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  proto/xudrpc.proto
  test/jest/LndClient.spec.ts
  test/simulation/xudrpc/xudrpc.pb.go
Labels: command line (CLI), grpc, lightning

#1884 fix: don't activate unsupported pairs with peers
  lib/orderbook/OrderBook.ts
  lib/swaps/SwapClientManager.ts
  test/jest/Orderbook.spec.ts
Labels: order book, p2p

#1893 fix(connext): remove BigInt to avoid precision loss
  lib/connextclient/ConnextClient.ts
Labels: bug, connext

#1889 fix: grpc throws error for addpair/withdraw for wrong argument (#1844)
  lib/cli/commands/addpair.ts
  lib/cli/commands/walletwithdraw.ts
Labels: command line (CLI), grpc

#1900 fix: implemented showing all pairs instead of active ones for listpeers
  lib/p2p/Peer.ts
Labels: grpc

#1901 feat(orderbook): log error message on remove order
  lib/orderbook/OrderBook.ts
Labels: error handling, logging, order book

#1905 fix(connext): avoid scientific notation for amount
  lib/connextclient/ConnextClient.ts
Labels: bug, connext

#1911 fix(connext): display error message for 400 status code
  lib/connextclient/ConnextClient.ts
Labels: connext, error handling

#1832 Added optional `--sat_per_byte` arg to openchannel for lnd
  docs/api.md
  lib/cli/commands/closechannel.ts
  lib/cli/commands/openchannel.ts
  lib/lndclient/LndClient.ts
  lib/proto/annotations_grpc_pb.js
  lib/proto/xudp2p_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/types.ts
  proto/xudrpc.proto
  test/jest/LndClient.spec.ts
  test/simulation/xudrpc/xudrpc.pb.go
Labels: command line (CLI), lightning

#1909 fix: xudrpc GetBalanceResponse json_name
  proto/xudrpc.proto
  test/simulation/xudrpc/xudrpc.pb.go
Labels: bug, grpc

#1907 fix: propagating nodes on database if initDB true even DB is filled
  lib/db/DB.ts
Labels: database

#1885 feat(connext): request collateral for order amount
  lib/connextclient/ConnextClient.ts
  lib/connextclient/errors.ts
  lib/connextclient/types.ts
  lib/grpc/getGrpcError.ts
  lib/lndclient/LndClient.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/TradingPair.ts
  lib/swaps/SwapClient.ts
  test/jest/Connext.spec.ts
  test/jest/LndClient.spec.ts
  test/jest/Orderbook.spec.ts
  test/jest/__snapshots__/Orderbook.spec.ts.snap
Labels: connext

#1918 test(connext): upgrade connext node and client versions
  test/simulation/docker-build.sh
  test/simulation/docker-connext/Dockerfile
Labels: automated tests

#1908 fix: handling insufficient balance errors for swap clients
  lib/constants/enums.ts
  lib/grpc/GrpcService.ts
  lib/lndclient/LndClient.ts
  lib/swaps/Swaps.ts
  lib/swaps/errors.ts
Labels: error handling, swaps

#1902 feat(rpc): show connext status on create/restore node
  docs/api.md
  lib/cli/commands/create.ts
  lib/cli/commands/restore.ts
  lib/grpc/GrpcInitService.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/InitService.ts
  lib/swaps/SwapClientManager.ts
  proto/xudrpc.proto
  test/simulation/xudrpc/xudrpc.pb.go
Labels: command line (CLI), connext, grpc

#1921 fix(orderbook): don't remove 0 quantity w/ hold
  lib/orderbook/OrderBook.ts
Labels: bug, order book

#1919 fix: propagating currencies and pairs on database if initDB true even…
  lib/db/DB.ts
  test/unit/DB.spec.ts
Labels: database

#1914 fix: checking for invoice support on lnd clients while verifying connection
  lib/lndclient/LndClient.ts
  lib/lndclient/errors.ts
  lib/swaps/SwapClient.ts
Labels: lightning

#1924 test(db): init & seed value tests
  test/jest/DB.spec.ts
  test/unit/DB.spec.ts
Labels: automated tests, database
