Repository ExchangeUnion/xud, pull requests merged in 2020-07, with the labels that each got.

#1704 fix(swaps): cancel taker invoice on swap fail
  lib/swaps/Swaps.ts
  test/jest/integration/Swaps.spec.ts
  test/simulation/custom-xud.patch
  test/utils.ts
Labels: bug, swaps

#1705 fix(swaps): lookupPayment return Pending on error
  lib/connextclient/ConnextClient.ts
  lib/connextclient/errors.ts
  lib/lndclient/LndClient.ts
  lib/types.ts
Labels: connext, error handling, swaps

#1657 test(sim): connext integration
  package.json
  test/simulation/.dockerignore
  test/simulation/actions.go
  test/simulation/connexttest/client.go
  test/simulation/connexttest/ethwallet.go
  test/simulation/connexttest/harness.go
  test/simulation/connexttest/httpclient.go
  test/simulation/docker-build.sh
  test/simulation/docker-clean.sh
  test/simulation/docker-compose.yml
  test/simulation/docker-connext/Dockerfile
  test/simulation/docker-run.sh
  test/simulation/go.mod
  test/simulation/go.sum
  test/simulation/lntest/node.go
  test/simulation/logs.sh
  test/simulation/tests-integration.go
  test/simulation/xud_test.go
  test/simulation/xudtest/harness.go
  test/simulation/xudtest/node.go
Labels: P1, automated tests, connext, security

#1666 feat(config): enable xud encryption by default
  lib/Config.ts
  sample-xud.conf
  test/integration/Service.spec.ts
  test/jest/WebProxy.spec.ts
  test/p2p/sanity.spec.ts
  test/simulation/xudtest/node.go
Labels: P3, configuration

#1711 feat(p2p): improved ban handling
  lib/p2p/NodeList.ts
  lib/p2p/P2PRepository.ts
  lib/p2p/Pool.ts
  test/jest/NodeList.spec.ts
Labels: P2, logging, p2p

#1710 fix(p2p): allow connections with alias conflict
  lib/p2p/NodeList.ts
  lib/p2p/Pool.ts
  lib/service/Service.ts
  test/integration/Pool.spec.ts
  test/jest/NodeList.spec.ts
  test/jest/Service.spec.ts
  test/jest/__snapshots__/Service.spec.ts.snap
Labels: P2, bug, p2p

#1723 feat(rpc): subscribeSwapsAccepted
  docs/api.md
  lib/cli/commands/streamorders.ts
  lib/grpc/GrpcService.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.d.ts
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/swaps/Swaps.ts
  lib/swaps/types.ts
  proto/xudrpc.proto
  test/simulation/xudrpc/xudrpc.pb.go
Labels: P2, grpc, swaps

#1726 refactor(db): migrate sequelize v4 to v6
  lib/connextclient/ConnextClient.ts
  lib/db/DB.ts
  lib/db/models/Currency.ts
  lib/db/models/Node.ts
  lib/db/models/Order.ts
  lib/db/models/Pair.ts
  lib/db/models/ReputationEvent.ts
  lib/db/models/SwapDeal.ts
  lib/db/models/Trade.ts
  lib/db/models/index.ts
  lib/db/types.ts
  lib/orderbook/OrderBook.ts
  lib/orderbook/OrderBookRepository.ts
  lib/p2p/NodeList.ts
  lib/p2p/P2PRepository.ts
  lib/service/types.ts
  lib/swaps/SwapRepository.ts
  npm-shrinkwrap.json
  package.json
  test/unit/DB.spec.ts
Labels: P1, database

#1731 feat: trace log level for order updates
  lib/orderbook/TradingPair.ts
  lib/p2p/Pool.ts
  test/jest/Orderbook.spec.ts
Labels: P2, logging, order book

#1737 feat(p2p): max reputation score
  lib/p2p/NodeList.ts
Labels: p2p

#1709 fix(seedutil): use correct path to seedutil tool
  lib/utils/seedutil.ts
Labels: P2, bug

#1732 feat(orderbook): don't match same orders twice
  lib/orderbook/OrderBook.ts
Labels: P1, order book, swaps

#1738 feat(cli): print "no more matches" for place order
  lib/cli/placeorder.ts
  lib/orderbook/OrderBook.ts
  test/jest/Orderbook.spec.ts
Labels: command line (CLI)

#1735 test(sim): connext instability tests
  test/simulation/actions.go
  test/simulation/connexttest/harness.go
  test/simulation/custom-xud.patch
  test/simulation/docker-build.sh
  test/simulation/docker-connext/Dockerfile
  test/simulation/docker-run.sh
  test/simulation/logs.sh
  test/simulation/tests-instability.go
  test/simulation/xud_test.go
  test/simulation/xudtest/harness.go
Labels: P1, automated tests, connext

#1736 fix(connext): async getbalance & error handling
  lib/connextclient/ConnextClient.ts
  lib/service/Service.ts
Labels: connext, error handling, grpc

#1740 feat: better "alias not found" message
  lib/p2p/NodeList.ts
  lib/p2p/Pool.ts
  lib/p2p/errors.ts
  test/integration/Service.spec.ts
Labels: grpc

#1743 fix(connext): provide seed as request body for /connect
  lib/connextclient/ConnextClient.ts
Labels: connext

#1742 chore: upgrade grpc dependency
  npm-shrinkwrap.json
  package.json
Labels: grpc

#1739 test(sim): PreimageResolved phase instability tests
  test/simulation/custom-xud.patch
  test/simulation/tests-instability.go
Labels: P1, automated tests, connext

#1747 feat(cli): tradehistory --all
  lib/cli/commands/tradehistory.ts
  lib/service/Service.ts
Labels: command line (CLI)

#1751 fix: don't add back orders for inactive peer
  lib/orderbook/OrderBook.ts
Labels: bug, order book

#1748 chore: update npm-shrinkwrap.json
  npm-shrinkwrap.json
Labels: build

#1750 feat: don't deactivate pairs with debug.testing
  lib/Xud.ts
  lib/p2p/Pool.ts
  lib/swaps/Swaps.ts
  test/integration/Swaps.spec.ts
  test/jest/Orderbook.spec.ts
  test/jest/integration/Swaps.spec.ts
Labels: swaps

#1755 feat(connext): better empty request logging
  lib/connextclient/ConnextClient.ts
Labels: connext, logging

#1754 feat(swaps): increase swap timeout to 90 seconds
  lib/connextclient/ConnextClient.ts
  lib/swaps/Swaps.ts
  test/simulation/tests-security.go
Labels: swaps

#1759 feat(config): rename debug.testing to strict
  lib/Config.ts
  lib/Xud.ts
  lib/orderbook/OrderBook.ts
  lib/p2p/Pool.ts
  lib/swaps/Swaps.ts
  sample-xud.conf
  test/jest/SwapClientManager.spec.ts
  test/simulation/xudtest/node.go
Labels: configuration

#1764 feat(lnd): no inactive balance in trading limits
  lib/lndclient/LndClient.ts
  test/jest/LndClient.spec.ts
Labels: lightning

#1765 feat(lnd): handle delayed macaroon creation
  lib/lndclient/LndClient.ts
Labels: lightning

#1767 chore: upgrade connext to 7.0.0
  test/simulation/docker-build.sh
  test/simulation/docker-connext/Dockerfile
Labels: connext

#1772 fix(swaps): don't log non-existent route
  lib/lndclient/LndClient.ts
Labels: bug, logging

#1775 feat(p2p): log whether socket is inbound/outbound
  lib/p2p/Pool.ts
Labels: logging, p2p
