Repository ExchangeUnion/xud, pull requests merged in 2020-04, with the labels that each got.

#1446 chore: update protoc-gen-swagger
  lib/proto/xudrpc.swagger.json
  proto/README.md
Labels: build

#1452 fix: update xud version on every compile
  package.json
Labels: bug

#1458 fix: ignore npm-shrinkwrap for commit hash
  parseGitCommit.js
Labels: bug

#1453 Alias followups
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  lib/service/Service.ts
  lib/utils/aliasUtils.ts
  test/integration/Service.spec.ts
  test/jest/aliasUtils.spec.ts
  test/simulation/actions.go
  test/simulation/xudrpc/xudrpc.pb.go
Labels: automated tests, code quality, grpc

#1454 fix(orderbook): match own orders before peers'
  lib/orderbook/TradingPair.ts
  test/unit/TradingPair.spec.ts
Labels: order book

#1463 fix(lnd): relax unhandled openchannel timeout
  lib/lndclient/LndClient.ts
  test/jest/LndClient.spec.ts
  test/jest/__snapshots__/LndClient.spec.ts.snap
Labels: bug, lightning

#1467 feat(rpc): push amount in OpenChannel call
  docs/api.md
  lib/cli/commands/openchannel.ts
  lib/lndclient/LndClient.ts
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  proto/xudrpc.proto
  test/jest/LndClient.spec.ts
  test/simulation/xudrpc/xudrpc.pb.go
Labels: grpc, lightning

#1475 docs: correct OpenChannel rpc description
  docs/api.md
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.js
  proto/xudrpc.proto
  test/simulation/xudrpc/xudrpc.pb.go
Labels: documentation, grpc

#1462 feat(cli): automatically determine rpc host/port
  bin/xucli
  lib/cli/command.ts
  lib/cli/commands/addcurrency.ts
  lib/cli/commands/addpair.ts
  lib/cli/commands/ban.ts
  lib/cli/commands/buy.ts
  lib/cli/commands/connect.ts
  lib/cli/commands/create.ts
  lib/cli/commands/discovernodes.ts
  lib/cli/commands/executeswap.ts
  lib/cli/commands/getbalance.ts
  lib/cli/commands/getinfo.ts
  lib/cli/commands/getnodeinfo.ts
  lib/cli/commands/listcurrencies.ts
  lib/cli/commands/listorders.ts
  lib/cli/commands/listpairs.ts
  lib/cli/commands/listpeers.ts
  lib/cli/commands/listtrades.ts
  lib/cli/commands/openchannel.ts
  lib/cli/commands/orderbook.ts
  lib/cli/commands/removecurrency.ts
  lib/cli/commands/removeorder.ts
  lib/cli/commands/removepair.ts
  lib/cli/commands/restore.ts
  lib/cli/commands/sell.ts
  lib/cli/commands/shutdown.ts
  lib/cli/commands/streamorders.ts
  lib/cli/commands/tradinglimits.ts
  lib/cli/commands/unban.ts
  lib/cli/commands/unlock.ts
  lib/cli/placeorder.ts
Labels: P2, command line (CLI)

#1468 feat(lnd): attempt openchannel when connect fails
  lib/lndclient/LndClient.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  test/jest/LndClient.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/jest/__snapshots__/LndClient.spec.ts.snap
  test/jest/__snapshots__/SwapClientManager.spec.ts.snap
Labels: P1, lightning

#1479 fix: string message grpc error handling
  lib/grpc/getGrpcError.ts
Labels: bug, grpc

#1482 fix(cli): use localhost when rpc config 0.0.0.0
  lib/cli/command.ts
Labels: bug, command line (CLI)

#1487 fix(cli): openchannel push amount
  lib/cli/commands/openchannel.ts
Labels: bug, command line (CLI)

#1490 chore: move to new xud1-simnet instance
  lib/db/seeds/simnet.ts
Labels: P1

#1489 fix: add `::` to selfaddress detection
  lib/p2p/Pool.ts
  test/jest/Pool.spec.ts
Labels: P2, p2p

#1481 feat(rpc): deposit & withdraw calls using lnd
  docs/api.md
  lib/cli/commands/deposit.ts
  lib/cli/commands/withdraw.ts
  lib/grpc/GrpcService.ts
  lib/lndclient/LndClient.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.d.ts
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/swaps/SwapClientManager.ts
  proto/xudrpc.proto
  test/simulation/xudrpc/xudrpc.pb.go
Labels: grpc, lightning

#1469 test(sim): cache custom-xud downloads
  package.json
  test/simulation/README.md
  test/simulation/docker-clean.sh
  test/simulation/docker-compose.yml
  test/simulation/xudtest/harness.go
Labels: automated tests

#1474 refactor(rpc): unsigned ints for non-neg fields
  docs/api.md
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.js
  proto/xudrpc.proto
  test/simulation/actions.go
  test/simulation/xudrpc/xudrpc.pb.go
Labels: code quality, grpc

#1486 test(sim): fix maker_crash_after_send instability test case
  test/simulation/tests-instability.go
Labels: automated tests

#1493 fix: prevent hang on first updateCapacity call
  lib/swaps/SwapClient.ts
Labels: P1

#1503 feat(simnet): automatic channels for Connext
  lib/Xud.ts
  lib/utils/simnet-connext-channels.ts
Labels: connext

#1488 Add Connext SwapClient support
  bin/xud
  docs/api.md
  lib/Config.ts
  lib/Logger.ts
  lib/Xud.ts
  lib/cli/commands/addcurrency.ts
  lib/cli/commands/getinfo.ts
  lib/cli/commands/openchannel.ts
  lib/connextclient/ConnextClient.ts
  lib/connextclient/README.md
  lib/connextclient/errors.ts
  lib/connextclient/types.ts
  lib/constants/errorCodesPrefix.ts
  lib/constants/limits.ts
  lib/db/seeds/mainnet.ts
  lib/db/seeds/simnet.ts
  lib/db/seeds/testnet.ts
  lib/grpc/GrpcService.ts
  lib/http/HttpServer.ts
  lib/http/HttpService.ts
  lib/lndclient/LndClient.ts
  lib/p2p/Peer.ts
  lib/p2p/Pool.ts
  lib/p2p/packets/utils.ts
  lib/p2p/types.ts
  lib/proto/xudp2p_pb.d.ts
  lib/proto/xudp2p_pb.js
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/raidenclient/RaidenClient.ts
  lib/service/Service.ts
  lib/service/errors.ts
  lib/swaps/SwapClient.ts
  lib/swaps/SwapClientManager.ts
  lib/swaps/Swaps.ts
  lib/utils/UnitConverter.ts
  lib/utils/simnet-connext-channels.ts
  lib/utils/utils.ts
  npm-shrinkwrap.json
  package.json
  proto/xudp2p.proto
  proto/xudrpc.proto
  sample-xud.conf
  test/integration/Service.spec.ts
  test/jest/Orderbook.spec.ts
  test/jest/Pool.spec.ts
  test/jest/SwapClientManager.spec.ts
  test/jest/WebProxy.spec.ts
  test/jest/integration/Swaps.spec.ts
  test/p2p/sanity.spec.ts
  test/simulation/go.mod
  test/simulation/xudrpc/xudrpc.pb.go
  test/unit/Parser.spec.ts
Labels: connext, swaps

#1500 feat(swaps): log full SwapFailureReason name
  lib/swaps/Swaps.ts
Labels: logging, swaps

#1478 feat(rpc): CloseChannel call
  docs/api.md
  lib/cli/commands/closechannel.ts
  lib/grpc/GrpcService.ts
  lib/lndclient/LndClient.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_grpc_pb.d.ts
  lib/proto/xudrpc_grpc_pb.js
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/swaps/SwapClientManager.ts
  proto/xudrpc.proto
  test/simulation/xudrpc/xudrpc.pb.go
Labels: P1, grpc, lightning

#1509 Add aliases to list orders
  docs/api.md
  lib/cli/commands/listorders.ts
  lib/grpc/GrpcService.ts
  lib/orderbook/types.ts
  lib/p2p/Pool.ts
  lib/proto/xudrpc.swagger.json
  lib/proto/xudrpc_pb.d.ts
  lib/proto/xudrpc_pb.js
  lib/service/Service.ts
  lib/utils/utils.ts
  proto/xudrpc.proto
  test/integration/Service.spec.ts
  test/jest/Service.spec.ts
  test/simulation/actions.go
  test/simulation/xudrpc/xudrpc.pb.go
  test/unit/Command.spec.ts
Labels: command line (CLI), grpc, order book

#1515 fix(swapclient): don't initialize if misconfigured
  lib/swaps/SwapClient.ts
Labels: bug, lightning, swaps
